@page "/DetailsMetas"
@inject MetasService metasService
@rendermode InteractiveServer
@attribute [StreamRendering]
@inject NavigationManager navigation

<PageTitle>Detalles de Metas</PageTitle>
<div class="container">
	<div class="card shadow-lg">
		@*Header*@
		<div class="card-header">
			<h3><strong>Detalles de Metas</strong></h3>
			<button type="button" class="btn btn-outline-primary" @onclick="Volver"><i class="bi bi-box-arrow-left" /> Volver</button>
		</div>
		@*Body*@
		<div class="card-body">
			@if (metas.Count == 0)
			{
				<p><em>Cargando...</em></p>
			}
			else
			{
				<table class="table">
					<thead>
						<tr>
							<th>Meta Id</th>
							<th>Fecha</th>
							<th>Descripci&oacute;n</th>
							<th>Monto</th>
							<th>Editar</th>
							<th>Eliminar</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var meta in metas)
						{
							<tr>
								<td>@meta.MetaId</td>
								<td>@meta.Fecha</td>
								<td>@meta.Descripcion</td>
								<td>@meta.Monto</td>
								<td><button type="button" class="btn btn-outline-warning" @onclick="(e)=> IrAEditar(meta.MetaId)"><i class="bi bi-pencil-square" /></button></td>
								<td><button type="button" class="btn btn-outline-danger" @onclick="(e)=> IrAEliminar(meta.MetaId)"><i class="bi bi-trash3-fill" /></button></td>
							</tr>
						}
					</tbody>
				</table>
			}
		</div>
		@*Footer*@
		<div class="card-footer">
			<p><strong>Total de Metas:</strong> @metas.Count</p>
		</div>
	</div>
</div>

@code {
	public List<Metas> metas = new List<Metas>();

	protected override async Task OnInitializedAsync()
	{
		await Task.Delay(500);
		metas = await metasService.Listar(m => m.MetaId > 0);
	}


	public void Volver()
	{
		navigation.NavigateTo("/Metas");
	}
	public void IrAEditar(int id)
	{
		navigation.NavigateTo($"/EditMetas/metaid={id}");
	}
	public void IrAEliminar(int id)
	{
		navigation.NavigateTo($"/DeteleMetas/metaid={id}");
	}
}
